@import url(global.css);
@import url(reset.css);
@import url(component/_navigator.css);
@import url(component/_pills.css);
@import url(component/_link-button.css);
@import url(component/_gallery.css);
@import url(https://cdn.jsdelivr.net/npm/@fancyapps/ui/dist/fancybox.css);

.n-wrapper {
    display: flex;
    height: 100vh;
    flex-flow: row nowrap;
    background-color: brown;
}

.n-wrapper video{
  position: fixed;
  width: 100%;
}

.n-wrapper .n-left-column {
    width: 100px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    padding-right: 50px;
    left: 0;
    top: 0;
    z-index: 1;    
  }
  
  .n-wrapper .n-main-content{
    height: 100%;
    width: 100%;
    padding-left: 130px;
    position: relative;    
  }

  .n-wrapper .n-main-content__top {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  
  .n-wrapper .n-main-content__bottom{
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  
  .n-wrapper .n-main-content .n-logo img{
    margin-top: 50px;
    margin-left: 0;
    margin-bottom: 30px;
  }
  
  .n-wrapper .n-main-content__top .n-description{
    background-color: rgba(0,0,0,.7);
    max-width: 80%;
    padding: 20px;
    border-radius: 10px;
  }
  
  .n-wrapper .n-main-content__top .n-description .n-description__text p{
    color: white;
    line-height: 120%;
  }
  
  .n-wrapper .n-main-content__top .n-description .pills{
    margin-bottom: 20px;
  }
  
  .n-wrapper .n-main-content .n-links{
    padding: 20px;
    padding-left: 0;
  }
  
  .n-wrapper .n-main-content .n-links ul{
    display: flex;
    flex-direction: row;
  }
  
  .n-naruto-01-01 {
    background-image: url('../images/spiderman-tobey/movie-01/background.png');
    background-size:cover;
  }
  
  .n-naruto-01-02 {
    background-image: url('../images/spiderman-tobey/movie-02/background.png');
    background-size: cover;
  }
  
  .n-naruto-01-03 {
    background-image: url('../images/spiderman-tobey/movie-03/background.png');
    background-size: cover;
  }

  .n-menu__icon {
    width: 5.5rem;
    margin: 0 1.25rem;
    vertical-align: middle;
}